/* Start Fonts */
.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.f-bold {
    font-weight: bold;
}

.txt-c {
    text-align: center;
}

@media(max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

/* End Fonts */

/* Start Padding and Margin */
.pad-0 {
    padding: 0;
}

.pad-10 {
    padding: 10px;
}

.pad-20 {
    padding: 20px;
}

.mar-0 {
    margin: 0;
}

.mar-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.w-full {
    width: 100%;
}

/* End Padding and Margin */

/* Start Border */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-50per {
    border-radius: 50%;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

/* End Border */

/* Start Colors */
.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-grey {
    color: var(--grey-color);
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}

/* End Colors */

/* Start Position */
.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

/* End Position */

/* Start Display */
.dis-block {
    display: block;
}

@media(max-width: 767px) {
    .dis-block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

.dis-inline {
    display: inline;
}

.dis-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.dis-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

/* End Display */

/* Start Components */
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* End Components */