/* Start Fonts */
fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.txt-c {
    text-align: center;
}

@media(max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

/* End Fonts */

/* Start Padding and Margin */
.pad-0 {
    padding: 0;
}

.pad-10 {
    padding: 10px;
}

.pad-20 {
    padding: 20px;
}

.mar-0 {
    margin: 0;
}

.mar-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.w-full {
    width: 100%;
}

/* End Padding and Margin */

/* Start Border */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-50per {
    border-radius: 50%;
}

/* End Border */

/* Start Colors */
.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

/* End Colors */

/* Start Position */
.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

/* End Position */

/* Start Display */
.dis-block {
    display: block;
}

@media(max-width: 767px) {
    .dis-block-mobile {
        display: block;
    }
}

.dis-inline {
    display: inline;
}

.dis-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.dis-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

/* End Display */

/* Start Components */
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* End Components */