/* Start Globale Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

/* End Global Rules */

/* Start Sidebar */
.page {
    min-height: 100vh;
    background-color: #f1f5f9;
}

.page .sidebar {
    height: 100%;
    box-shadow: 0 0 10px #ddd;
}

@media(min-width: 767px) {
    .page .sidebar {
        width: 200px;
    }

    .page .content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

@media(max-width: 767px) {
    .page .sidebar {
        width: 58px;
        padding: 10px;
    }

    .page .content {
        margin-left: 58px;
        width: calc(100% - 58px);
    }
}

.page .sidebar h3 {
    margin-bottom: 50px;
}

.page .sidebar h3::before,
.page .sidebar h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.page .sidebar h3::before {
    bottom: -20px;
    height: 2px;
    width: 80px;
}

.page .sidebar h3::after {
    height: 12px;
    width: 12px;
    bottom: -29px;
    border-radius: 50%;
    border: 5px solid white;
}

.page .sidebar ul li a {
    gap: 10px;
    margin-bottom: 5px;
    transition: var(--main-transition);
}

.page .sidebar ul li a span {
    font-size: 14px;
}

.page .sidebar ul li a.active,
.page .sidebar ul li a:hover {
    background-color: #f6f6f6;
}

@media(max-width: 767px) {
    .page .sidebar h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .page .sidebar h3::before,
    .page .sidebar h3::after {
        display: none;
    }

    .page .sidebar ul li a span {
        display: none;
    }
}

/* End Sidebar */

/* Start Content */

/* Start Dashboard */
.page .content {
    background-color: #f1f5f9;
}

.page .content .head {
    padding: 10px 20px;
}

.page .content .head input {
    padding-left: 30px;
    border: 1px solid #ddd;
    width: 150px;
    transition: var(--main-transition);
}

.page .content .head input::placeholder {
    font-size: 12px;
    transition: var(--main-transition);
}

.page .content .head input:focus {
    outline: 1px solid #ddd;
    width: 180px;
}

.page .content .head input:focus::placeholder {
    font-size: 14px;
    opacity: 0;
}

.page .content .head .search::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
    left: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.page .content .head .icons .notification {
    cursor: pointer;
}

.page .content .head .icons .notification::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    top: -15px;
    right: -5px;
}

.page .content .head .icons img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: scaleX(-1);
    margin-left: 15px;
}

.page h1 {
    margin: 20 20 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: white;
    width: 120px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page h1::after {
    background-color: black;
    width: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media(max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.wrapper>div {
    overflow: hidden;
}

.wrapper .welcome .box-header .heading {
    font-size: 28px;
    font-weight: bold;
}

.wrapper .welcome span {
    color: var(--grey-color);
    font-weight: normal;
    display: block;
}

.wrapper .welcome .box-header>img {
    width: 200px;
    margin-bottom: -10px;
}

.wrapper .welcome>img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -35px;
    margin-left: 20px;
    border: 2px solid white;
    box-shadow: 0 0 5px #ddd;
}

@media(max-width: 767px) {
    .wrapper .welcome>img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.wrapper .welcome .contain {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

@media(min-width: 768px) {
    .wrapper .contain {
        display: flex;
    }
}

.wrapper .welcome .contain p {
    flex: 1;
    font-weight: bold;
    margin: 0;
}

@media(max-width: 768px) {
    .wrapper .welcome .contain p:not(:last-child) {
        margin-bottom: 20px;
    }
}

.wrapper .welcome>a {
    background-color: var(--blue-color);
    padding: 4px 10px;
    margin: 0 15px 15px auto;
    width: fit-content;
    transition: var(--main-transition);
}

.wrapper .welcome>a:hover {
    background-color: var(--blue-alt-color);
}

.wrapper .quick-draft input,
.wrapper .quick-draft textarea {
    border: none;
}

.wrapper .quick-draft textarea {
    resize: none;
    min-height: 180px;
}

.wrapper .quick-draft input:focus,
.wrapper .quick-draft textarea:focus {
    outline: none;
}

.wrapper .quick-draft a {
    padding: 4px 10px;
    background-color: var(--blue-color);
    transition: var(--main-transition);
    width: fit-content;
    margin: 0 0 15px auto;
    cursor: pointer;
}

.wrapper .quick-draft a:hover {
    background-color: var(--blue-alt-color);
}

/* Start Yearly Targets */
.wrapper .yearly-targets>div {
    margin-left: 100px;
}

.wrapper .yearly-targets>div::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    width: 80px;
    height: 80px;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.wrapper .yearly-targets>div:first-of-type:before {
    content: '\24';
    background-color: rgb(0 117 255 / 20%);
    color: var(--blue-color);
}

.wrapper .yearly-targets>div:nth-of-type(2)::before {
    content: '\f121';
    background-color: rgb(245 158 11 / 20%);
    color: var(--orange-color);
}

.wrapper .yearly-targets>div:last-of-type::before {
    content: '\f007';
    background-color: rgb(34 197 94 / 20%);
    color: var(--green-color);
}

.wrapper .yearly-targets>div .progress {
    height: 5px;
}

.wrapper .yearly-targets>div:first-of-type .progress {
    background-color: rgb(0 117 255 / 20%);
}

.wrapper .yearly-targets>div:nth-of-type(2) .progress {
    background-color: rgb(245 158 11 / 20%);
}

.wrapper .yearly-targets>div:last-of-type .progress {
    background-color: rgb(34 197 94 / 20%);
}

.wrapper .yearly-targets>div .progress span {
    position: absolute;
    height: 5px;
    left: 0;
}

.wrapper .yearly-targets>div .progress span::after {
    position: absolute;
    right: -19px;
    top: -41px;
    padding: 4px 6px;
    color: white;
    border-radius: 6px;
    font-size: 14px
}

.wrapper .yearly-targets>div:first-of-type .progress>span::after {
    content: "80%";
    background-color: var(--blue-color);
}

.wrapper .yearly-targets>div:nth-of-type(2) .progress>span::after {
    content: "55%";
    background-color: var(--orange-color);
}

.wrapper .yearly-targets>div:last-of-type .progress>span::after {
    content: "75%";
    background-color: var(--green-color);
}

.wrapper .yearly-targets>div .progress span::before {
    position: absolute;
    content: "";
    right: -5px;
    top: -16px;
    border-style: solid;
    border-width: 6px;
}

.wrapper .yearly-targets>div:first-of-type .progress>span::before {
    border-color: var(--blue-color) transparent transparent transparent;
}

.wrapper .yearly-targets>div:nth-of-type(2) .progress>span::before {
    border-color: var(--orange-color) transparent transparent transparent;
}

.wrapper .yearly-targets>div:last-of-type .progress>span::before {
    border-color: var(--green-color) transparent transparent transparent;
}

/* End Yearly Targets */

/* Start Tickets Statistics */
.tickets-statistics .tickets-holder {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.tickets-statistics .tickets-holder .box {
    border: 1px solid #ddd
}

/* End Tickets Statistics */
/* Start Latest News */
@media(max-width: 767px) {
    .wrapper .latest-news .row div:last-of-type {
        width: fit-content;
        margin: 10px auto;
    }

    .wrapper .latest-news .row img {
        margin-bottom: 10px;
    }
}

@media(min-width: 768px) {
    .wrapper .latest-news .row {
        display: flex;
        align-items: center;
    }

    .wrapper .latest-news .row img {
        margin-right: 15px;
    }
}

.wrapper .latest-news .row:not(:last-of-type) {
    padding-bottom: 20px;
    position: relative;
}

.wrapper .latest-news .row:not(:last-of-type)::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #eee;
}

.wrapper .latest-news .row img {
    width: 100px;
}

.wrapper .latest-news .row .info {
    flex-grow: 1;
}

/* End Latest News */
/* Start Latest Tasks */
.wrapper .latest-tasks .line:not(:last-of-type) {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.wrapper .latest-tasks .line:nth-of-type(4) h2,
.wrapper .latest-tasks .line:nth-of-type(4) p {
    text-decoration: line-through;
    opacity: 0.3;
}

.wrapper .latest-tasks .line i {
    cursor: pointer;
}

.wrapper .latest-tasks .line:nth-of-type(4) i {
    opacity: 0.3;
}

/* End Latest Tasks */

/* Start Latest Uploads */
.wrapper .latest-uploads ul li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

/* End Latest Uploads */
/* Start last-progress */
.wrapper .last-progress ul::before {
    position: absolute;
    content: "";
    left: 10px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .last-progress ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.wrapper .last-progress ul li.done::before {
    background-color: var(--blue-color);
}

.wrapper .last-progress ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

.wrapper .last-progress .launch-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    opacity: 0.1;
}

/* Start Animation */
@keyframes change-color {
    from {
        background-color: white;
    }

    to {
        background-color: var(--blue-color);
    }
}

/* End Animation */

/* End last-progress */

/* Start Reminders */

.wrapper .reminders ul li .key {
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    left: 0;
}

.wrapper .reminders ul li:first-of-type .key {
    background-color: var(--blue-color);
}

.wrapper .reminders ul li .rem {
    padding-left: 20px;
}

.wrapper .reminders ul li:first-of-type .rem {
    border-left: 2px solid var(--blue-color);
}

.wrapper .reminders ul li:nth-of-type(2) .rem {
    border-left: 2px solid var(--green-color);
}

.wrapper .reminders ul li:nth-of-type(3) .rem {
    border-left: 2px solid var(--orange-color);
}

.wrapper .reminders ul li:last-of-type .rem {
    border-left: 2px solid var(--red-color);
}

/* End Reminders */

/* Start Post */
.wrapper .latest-post .heading {
    border-bottom: 1px solid #eee;
}

.wrapper .latest-post>p {
    line-height: 1.8;
    border-bottom: 1px solid #eee;
}

@media(max-width: 767px) {
    .wrapper .latest-post>p {
        text-align: center;
    }
}

/* End Post */
/* Start social stats */
.wrapper .social-stats>div:first-of-type {
    background-color: hsl(203, 89%, 53%, 0.2);
}

.wrapper .social-stats>div:nth-of-type(2) {
    background-color: hsl(214, 89%, 52%, 0.2);
}

.wrapper .social-stats>div:nth-of-type(3) {
    background-color: hsl(0, 100%, 50%, 0.2);
}

.wrapper .social-stats>div:last-of-type {
    background-color: hsl(201, 100%, 35%, 0.2);
}

.wrapper .social-stats>div:first-of-type a {
    background-color: #1ca0f2;
}

.wrapper .social-stats>div:nth-of-type(2) a {
    background-color: #1876f2;
}

.wrapper .social-stats>div:nth-of-type(3) a {
    background-color: #ff0000;
}

.wrapper .social-stats>div:last-of-type a {
    background-color: #0074b3;
}

.wrapper .social-stats .twitter .icon {
    color: #1ca0f2;
}

.wrapper .social-stats .facebook .icon {
    color: #1876f2;
}

.wrapper .social-stats .youtube .icon {
    color: #ff0000;
}

.wrapper .social-stats .linked-in .icon {
    color: #0074b3;
}

.wrapper .social-stats div::before {
    position: absolute;
    font-family: "Font Awesome 5 brands";
    font-weight: 900;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    color: white;
    font-size: 30px;
    transition: var(--main-transition);
}

.wrapper .social-stats .twitter::before {
    content: "\f099";
    background-color: #1ca0f2;
}

.wrapper .social-stats .facebook::before {
    content: "\f39e";
    background-color: #1876f2;
}

.wrapper .social-stats .youtube::before {
    content: "\f167";
    background-color: #ff0000;
}

.wrapper .social-stats .linked-in::before {
    content: "\f08c";
    background-color: #0074b3;
}

.wrapper .social-stats div:hover::before {
    transform: rotate(5deg);
}

/* Start Projects table */
@media(max-width: 767px) {
    .content .projects {
        margin: 10px;
    }
}

@media(min-width: 768px) {
    .content .projects {
        margin: 20px;
    }
}

.content .projects .responsive-table {
    overflow-x: auto;
}

.content .projects .responsive-table table {
    min-width: 1000px;
    border-spacing: 0;
}

.content .projects table td {
    padding: 15px;
    transition: var(--main-transition);
}

.content .projects table tr:hover td {
    background-color: #FAF7F7;
}

.content .projects table tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.content .projects table tbody td:last-child {
    border-right: 1px solid #eee;
}

.content .projects table img:not(:first-child) {
    margin-left: -20px;
}

.content .projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid white;
}

/* End Projects table */

/* End Dashboard */

/* Start Settings */

/* Start Toggle Checkbox */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
}

.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    left: 4px;
    top: 4px;
    transition: var(--main-transition);
    cursor: pointer;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    left: 50px;
    content: "\f00c";
    color: var(--blue-color);
}

/* End Toggle Checkbox */
/* Start Site Control */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr))
}

@media(max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
    }
}

.site-control textarea {
    height: 170px;
    resize: none;
    border: 1px solid #ccc;
}

.site-control textarea:focus {
    outline: none;
}

/* End Site Control */
/* Start General Info */
.general-info input:focus {
    outline: none;
}

.general-info .email input {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}

/* End General Info */

/* Start Security Info */
.security-info .line:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.security-info .line a {
    transition: var(--main-transition);
}

.security-info .line:first-of-type a:hover {
    background-color: var(--blue-alt-color);
}

/* End Security Info */

/* Start Social Info */
.social-info i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: var(--main-transition);
}

.social-info input {
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 0 6px 6px 0;
    border: 1px solid #ddd;
    outline: none;
}

.social-info>div:focus-within i {
    color: black;
}

/* End Social Info */
/* Start widgets control */
.widgets-control .control input {
    -webkit-appearance: none;
    appearance: none;
}

.widgets-control .control label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.widgets-control .control label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    top: 50%;
    margin-top: -8px;
    border: 2px solid var(--grey-color);
    border-radius: 4px;
    transition: var(--main-transition);
}

.widgets-control .control label:hover::before {
    border-color: var(--blue-alt-color);
}

.widgets-control .control label::after {
    content: '\f00c';
    position: absolute;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    left: 0;
    top: 50%;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 17.2px;
    height: 17.2px;
    border-radius: 4px;
    transform: scale(0) rotate(360deg);
    transition: var(--main-transition);
}

.widgets-control .control input[type="Checkbox"]:checked+label::after {
    transform: scale(1);
}


/* End widgets control */
/* Start Backup Manager */
.backup-manager .line:not(:last-of-type) {
    margin-bottom: 10px;
}

.backup-manager .line input {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.backup-manager .line label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.backup-manager .line label::before {
    content: "";
    position: absolute;
    left: 0;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -9.6px;
}

.backup-manager .line label::after {
    content: "";
    position: absolute;
    left: 9.4px;
    margin-left: -7px;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background-color: var(--blue-color);
    border-radius: 50%;
    transform: scale(0);
    transition: var(--main-transition);
}

.backup-manager .line input[type="radio"]:checked+label::after {
    transform: scale(1);
}

.backup-manager .line input[type="radio"]:checked+label::before {
    border-color: var(--blue-alt-color);
}

.backup-manager .servers {
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

@media(max-width: 767px) {
    .backup-manager .servers {
        flex-direction: column;
    }
}

.backup-manager .servers .server {
    border: 2px solid #eee;
}

.backup-manager .servers input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.backup-manager .servers input[type="radio"]:checked+.server,
.backup-manager .servers input[type="radio"]:checked+.server label {
    border-color: var(--blue-color);
    color: var(--blue-color);
}

.backup-manager .servers .server label {
    cursor: pointer;
}


/* End Backup Manager */

/* End Settings */

/* End Content */