/* Start Globale Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* End Global Rules */

/* Start Dashboard */
.page {
    height: 100vh;
    background-color: #f1f5f9;
}

.page .sidebar {
    height: 100%;
    box-shadow: 0 0 10px #ddd;
}

@media(min-width: 767px) {
    .page .sidebar {
        width: 20%;
    }

    .page .content {
        margin-left: 20%;
    }
}

@media(max-width: 767px) {
    .page .sidebar {
        width: 58px;
        padding: 10px;
    }

    .page .content {
        margin-left: 58px;
    }
}

.page .sidebar h3 {
    margin-bottom: 50px;
}

.page .sidebar h3::before,
.page .sidebar h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.page .sidebar h3::before {
    bottom: -20px;
    height: 2px;
    width: 80px;
}

.page .sidebar h3::after {
    height: 12px;
    width: 12px;
    bottom: -29px;
    border-radius: 50%;
    border: 5px solid white;
}

.page .sidebar ul li a {
    gap: 10px;
    margin-bottom: 5px;
    transition: var(--main-transition);
}

.page .sidebar ul li a span {
    font-size: 14px;
}

.page .sidebar ul li a.active,
.page .sidebar ul li a:hover {
    background-color: #f6f6f6;
}

@media(max-width: 767px) {
    .page .sidebar h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .page .sidebar h3::before,
    .page .sidebar h3::after {
        display: none;
    }

    .page .sidebar ul li a span {
        display: none;
    }
}

.page .content {
    background-color: var(--orange-color);
    height: 2000px;
    width: 100%;
}

/* End Dashboard */